<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дороги России</title>
</head>
<body>
    
    <section class = "header">
        <div class="container">
            <div class = "nav">
                <img class="logo" src="../static/img/logo.svg">
                <input class="search_input" type="text" name="search" placeholder="Введите для поиска" value="{{ request.args.get('search', '') }}">
            </div>
        </div>
    </section>

    <section class ="stuff_frame">
        <div class = "container">
            <h2>Сотрудники</h2>
            <div class ="stuff_grid">
                {%if not stuff%}
                <h2>Данных не найдено</h2>
                {% else %}
                {% for i in stuff%}
                    <div class="stuff_card">
                        <h4>{{i.name}}</h4>
                        <p>{{i.post}}</p>
                        <p>email</p>
                        <p>{{i.phone}}</p>
                        <div class="qr_btns">
                            <p>{{ i.bdate }}</p>
                            <!-- Форма для отправки данных на сервер -->
                            <form action="/generate_qr" method="GET">
                                <input type="hidden" name="name" value="{{ i.name }}">
                                <input type="hidden" name="email" value="{{ i.email }}">
                                <input type="hidden" name="phone" value="{{ i.phone }}">
                                <input type="hidden" name="position" value="{{ i.post }}">
                                <button type="submit">🎞</button>
                            </form>
                        </div>
                        <!-- Место для отображения QR-кода -->
                        <div id="qr-{{ loop.index }}" class="qr-code" style="display:none;">
                            <img id="qr-img-{{ loop.index }}" src="" alt="QR-код">
                        </div>
                    </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </section>

        <div class = "container">
            <div class = "events_news_frame">
                <div class ="events_frame">

                    <h2>Календарь событий</h2>

                    <form method="POST" class = "calendar_frame">
                        <div class = "calendar_header">
                            <button type = "submit" name = "prev">⬅</button>
                            <h2>{{year}} {{month_name}}</h2>
                            <button type="submit" name="next">➡</button>
                        </div>
                        <input type="hidden" name="year" value="{{year}}">
                        <input type="hidden" name="month" value="{{month}}">

                        <table class="calendar_widget">
                            <thead>
                                <tr>
                                    <th>Пн</th>
                                    <th>Вт</th>
                                    <th>Ср</th>
                                    <th>Чт</th>
                                    <th>Пт</th>
                                    <th>Сб</th>
                                    <th>Вс</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for week in calendar %}
                                <tr>
                                    {% for day in week %}
                                    {% if day != 0 %}
                                    {% set date_str = '{:04d}-{:02d}-{:02d}'.format(year, month, day) %}
                                                {% set is_today = (day == now.day and month == now.month and year == now.year) %}
                                                {% set is_non_working = date_str in non_working_days %}
                                                {% set event_count_today = event_count.get(datetime(year, month, day).date(), 0) %}
                                                <td id="{% if event_count_today >= 5 %}multiple-events{% elif event_count_today < 2 %}low-event{% else %}mid-event{% endif %}" 
                                                    class="{% if is_today %}current-day{% endif %} {% if is_non_working %}non-working-day{% endif %}">
                                                    {{ day }}
                                                </td>
                                    {%else%}
                                    <td></td>
                                    {%endif%}
                                    {%endfor%}
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </form>

                    <h2>События</h2>
                    {%if not events%}
                    <h2>События не найдены</h2>
                    {%else%}
                    {%for i in events%}
                    <div class = "event_card">
                        <h4>{{i.name}}</h4>
                        <p>{{i.discription}}</p>
                        <div class="footer_events">
                            <button class='calebdar_btn'>🗓</button>
                            <p>{{i.ev_date}}</p>
                            <p>{{i.author_name}}</p>
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                </div>
                <div class ="news_frame">
                    <h2>Новости</h2>
                </div>
            </div>        
        </div>
        <script>
            document.querySelector('.search_input').addEventListener('input', function() {
                const searchValue = this.value;
                const url = new URL(window.location.href);
                url.searchParams.set('search', searchValue);
                window.location.href = url.toString();
            });
        </script>
</body>
</html>
